.research-container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.research-header {
  padding: 1rem 0;
}

.research-projects {
  /* margin: auto 1rem; */
  width: 75%;
  display: flex;
  flex-direction: column;
}

.research-topic-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.research-project-image {
  width: 35%;
  /* aspect-ratio: 16 / 9; */
  align-self: flex-start;

  /* width: 50%;
  height: 50%; */
}
