.teaching-container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teaching-header {
  padding: 1rem 0;
}

.teaching-subtitle {
  margin: 0;
}

.teaching-course-title {
  border-bottom: 1px solid black;
}
